div.controller-icon {
	text-align: center;
	text-transform: uppercase;
	border: 2px solid currentcolor;
	border-radius: 16px;
	min-width: 32px;
	height: 32px;
	display: inline-block;
	padding: 0 8px;
	background: #000;
	font-family: "Source Code Pro", "Cascadia Code", monospace;
	font-weight: bold;
	font-size: 16px;
}

	div.controller-icon:hover {
		cursor: pointer;
		filter: brightness(1.2) saturate(1.2);
	}